//$theme-primary: #002147;
$theme-primary: #002147;
$theme-secondary: white;
$theme-tertiary: black;
$primary-font-family: "Montserrat", "Helvetica", Arial, sans-serif;
$logo-font-size: 20px;
$theme-link-color: darksalmon;