.main {
    min-height: 89vh;
    display: flex;
    flex-direction: column;
    .teaser-wrapper {
        .teasers {
            ngb-carousel {
                .carousel-inner {
                    .teaser-img {
                        img {
                            border-radius: 0;
                            height: 67vh;
                            @media screen and (max-width: 767px) {
                                height: 47vh;
                            }
                        }
                    }
                    .desc {
                        top: 20vh;
                        position: absolute;
                        width: 700px;
                        background-color: rgba(0, 0, 0, 0.7);
                        @media screen and (max-width: 767px) {
                            top: 8vh;
                        }
                        p {
                            padding: 35px;
                            font-weight: 600;
                            color: $theme-secondary;
                            font-size: 16px;
                        }
                    }
                    @media screen and (max-width: 767px) {
                    .desc {
                        width: 85%;
                        p {
                            font-size: 12px;
                        }
                    }
                }
                }
            }
        }
    }

    @media screen and (max-width: 1023px) {
        min-height: 92vh;
    }
    @media screen and (max-width: 767px) {
        min-height: 88.4vh;
    }
    // @media screen and (min-width: 410px) {
    //     min-height: 90vh;
    // }
    @media screen and (max-width: 360px) {
        min-height: 87vh;
    }
    .principal-message-wrapper { 
        .principal-message {
            @media screen and (min-width:768px) {
            .announcement-left {
                margin: auto !important;
            }
        }
    .announcement-wrapper {
        .announcement {
            h1 {
                margin-top: 0;
                font-size: 2.7em;
            }
        }
    }
    .announcement-right {
        margin: 50px;
        margin-left: 0;
        width: 50%;
        text-align: center;
        display: flex;
        .item {
            background-image: url('../../assets/image/bb.jpg');
            //border: 6px solid $theme-secondary;
            display: flex;
            justify-content: center;
            align-items: center; 
            height: 270px;
            width: 80%;
            margin: auto;
            .carousel {
                display: inline-block;
                height: 100%;
            ngb-carousel {
                margin: auto;
                height: 100%;
                .carousel-indicators li {
                    display: none;
                 }
                 .carousel-control-prev, .carousel-control-next {
                    display: none;
                 }
                .carousel-inner {
                    height: 100%;
                    .carousel-item {
                        height: 100%;
                        .quote {
                            display: flex;
                            height: 100%;
                            p {
                                margin: auto;
                                color: $theme-secondary;
                                font-weight: 500;
                                font-size: 18px;
                                padding: 10px;
                            }
                        }
                    }
                 }
            }
        }
        }
        .prev, .next {
            margin: auto;
            margin-right: 13px;
            span {
                font-size: 50px;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
    
    @media screen and (min-width:768px) {
        .announcement-right {
            margin-top: 50px !important;
        }
    }
}
    }
}