.content {
    margin: 7%;
    margin-top: 50px;
    margin-bottom: 40px;

    @media screen and (max-width: 1024px) {
        margin: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
.main {
    overflow: hidden;
    position: relative;

.intro-wrapper {
    margin-top: 72px;
    //margin-bottom: 50px;

    .intro-header {
        text-align: center;
        height: 70px;
        background-color: $theme-primary;

        .header {
            color: $theme-secondary;
            font-family: $primary-font-family;
            font-size: 20px;
            padding-top: 25px;
            font-weight: 500;
            letter-spacing: 2px;
        }
    }

    .intro-content {

    .intro-right {
        .right {
        img {
            width: 100%;
            height: 550px;
            object-fit: cover;
        }
        .desc {
            top: 260px;
            position: absolute;
            width: 700px;
            background-color: rgba(0, 0, 0, 0.7);
            p {
                padding: 35px;
                font-weight: 600;
                color: $theme-secondary;
                font-size: 16px;
                
            }
        }
    }
    }
}
}

.intro-metadata-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

.intro-metadata {
    display: flex;

    .metadata-item {
        display: flex;
        width: 28%;

        .icon {
            border-radius: 50%;
            border: 1px solid white;
            width: 150px;
            height: 150px;
            img {
                padding: 22px;
            } 
            }
        
        .data {
            text-align: left;
            width: 150px;
            margin-left: 10px;
            width: 80%;
            .title {
                margin-top: 23px;
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 0;
                font-family: $primary-font-family;

            }
        }
    }

    .first {
        //margin-left: 35px;
        .icon {
            background-color: #50A033;
        }
    }
    .second {
        margin-left: 140px;
        .icon {
            background-color: $theme-primary;
        }
    }
    .third {
        margin-left: 140px;
        .icon {
            background-color: #E07B21;
        }
    }
}
.principal-message-wrapper {
    background-color: #232939;
    color: $theme-secondary;
    .principal-message {
        margin: auto;
        display: flex;

        .left {
            margin: 50px;
            margin-left: 0;
            width: 50%;
            text-align: center;
            .image-wrapper {
                margin: auto;
                height: 350px;
                width: 350px;
                border-radius: 50%;
                background-color: $theme-primary;
                .image {
                    width: 100%;
                    img {
                        border-radius: 50%;
                        height: 270px;
                        width: 270px;
                        margin: auto;
                        margin-top: 40px;
                    }


                    }
                }
            }
        .right {
            margin: 50px;
            margin-left: 0;
            width: 50%;
            text-align: center;
            margin-top: 90px;
            .desc {
                margin-right: 100px;

                h1 {
                    font-size: 2.5em;
                }

                h3 {
                    margin-bottom: 20px;
                }

                p {
                    margin: 20px;
                    a {
                        margin-left: 3px;
                        color: #002147;
                    }
                }
            }
        }
    }
}

.intro-activities {
    display: flex;

    .activities-item {
        width: 25%;
        //margin-right: 2%;

        .activity {
            border: 1px solid white;
            border-radius: 40px;
            color: white;
            background-color: $theme-primary;

            .title {
                text-align: center;
                margin-bottom: 20px;

                h3 {
                    font-size: 15px;
                    font-weight: 900;                
                    color: $theme-secondary;
                    font-family: $primary-font-family;
                }
            }
            .list {
                text-align: center;
                ul {
                    list-style: none;
                    padding-left: 0;

                    li {
                        margin-bottom: 30px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    .first {
        margin-left: 25px;
    }
    .second, .third {
        margin-left: 143px;
    }
}

.campus-life-wrapper {
    background-color: #F2F2F2;
    .campus-life {
        .header {
            text-align: center;
            h3 {
                color: $theme-primary;
                padding-top: 20px;
                padding-bottom: 20px;
                font-size: 35px;
                font-family: $primary-font-family;
                font-weight: bold;
            }
        }

        .gallery {
            margin-bottom: 50px;
            .gallery-item {
                display: flex;
                margin-left: 8%;
                .image {
                    width: 30%;
                    padding: 0.7%;
                    img {
                        height: 240px;
                        opacity: 0.9;
                        width: 100%;
                        //object-fit: contain;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.why-stjohns-wrapper {
    background: url('../../assets/image/student.jpg');
    background-position: right;
    .why-stjohns {
        .header {
            text-align: center;
            h3 {
                color: $theme-secondary;
                padding-top: 20px;
                padding-bottom: 20px;
                font-size: 35px;
                font-family: $primary-font-family;
                font-weight: bold;
            }
        }

        .why-item {
            .item {
                display: flex;
                margin-left: 8%;
                .data {
                    text-align: center;
                    width: 30%;
                    padding: 2%;
                    border-right: 2px solid $theme-secondary;
                    border-bottom: 2px solid $theme-secondary;
                    img {
                        width: 100px;
                        height: 100px;
                        //object-fit: contain;
                    }
                    p{
                        color: $theme-secondary;
                        font-size: 20px;
                        font-weight: 800;
                        transform: translateY(0);
                        transition: 1s;
                    }
                    span {
                        //transition: 1s;
                        color: white;
                        font-size: 15px;
                        opacity: 0;
                        position: absolute;
                    }

                    &:hover {
                        //background: rgba(0, 0, 0, 0.7);
                        img {
                            transition: 1s;
                            display: none;
                        }
                        p {
                            transform: translateY(calc(-30px));
                          }
                          span {
                              transition: 1s;
                              opacity: 1;
                              position: relative;
                              //transform: translateX(calc(100% - 200px));
                          }
                    }
                }
                .initial {
                    border-bottom: 0;
                }
                .last {
                    border-right: 0;
                }
            }
        }
    }
}

.quotes-wrapper {
    margin-top: 15px;
    .quotes {

        .carousel-control-prev-icon{
            background-image: url('https://apufpel.com.br/assets/img/seta_prim.png')
         }
         .carousel-control-next-icon{
           background-image: url('https://apufpel.com.br/assets/img/seta_ult.png')
         }
        
         .carousel-control-prev, .carousel-control-next {
             opacity: 1;
             background-color: $theme-primary;
             margin-bottom: 30px;
         }
        
         .carousel-indicators li {
            display: none;
         }

         .quote {
             text-align: center;
             p {
                 font-size: 26px;
                 margin-top: 30px;
                 color: $theme-primary;
                 background-color: #F2F2F2;
                 font-weight: 600;
                 padding: 15px;
             }
         }
    }
}
}

@media screen and (max-width: 767px) {
    .main {
    
    .intro-wrapper {
    
        .intro-header {
    
            .header {
                font-size: 14px;
            }
        }
        .intro-content {
            .intro-right {
                .right {
                    img {
                        height: 500px;
                    }

                    .desc {
                        width: 85%;
                        p {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .intro-metadata-wrapper {
        .intro-metadata {
            display: block;
            .metadata-item {
                width: 87%;

            }

            .first, .second {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
            }
            .third {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .principal-message-wrapper {
        .principal-message {
            margin: auto;
            display: block;

            .left {
                width: 100%;
                .image-wrapper {
                    height: 320px;
                    width: 320px;
                    .image {
                        width: 100%;
                        img {
                            border-radius: 50%;
                            height: 270px;
                            width: 270px;
                            margin: auto;
                            margin-top: 25px;
                        }
                    }
                }
            }
            .right {
                width: 100%;
                margin-top: 0;
                .desc {
                    margin-right: 0;
                }
            }
        }
    }

    .intro-activities-wrapper {
        .intro-activities {
            display: block;

            .activities-item {
                width: 90%;
                margin: 20px;
            }
        }
    }

    .campus-life-wrapper {
        .campus-life {
            .gallery {
                .gallery-item {
                    display: block;
                    margin-left: 0;

                    .image {
                        width: 87%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    .why-stjohns-wrapper {
        .why-stjohns {
            .why-item {
                .item {
                    .data {
                        .image {
                            img {
                                width: 50px;
                                height: 50px;
                            }
                        }
                        .title {
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }

    .quotes-wrapper {
        .quotes {
            .quote {
                p {
                    font-size: 8px;
                }
            }
        }
    }
}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .main {
    
    .intro-wrapper {
    
        .intro-header {
    
            .header {
                font-size: 18px;
            }
        }
    }
    .intro-metadata-wrapper {
        .intro-metadata {
            .data {
            h3 {
                font-size: 14px !important;
            }
            p {
                font-size: 12px !important;
            }
        }
            .first {
                margin-left: 3%;
            }
            .second {
                margin-left: 3%;
            }
            .third {
                margin-left: 3%;
            }
        }
    }
    
    .principal-message-wrapper { 
        .principal-message { 
            .left {
                .image-wrapper {
                    margin-left: 35px;
                }
            }
            .right { 
                margin-top: 20px;
                margin-left: 35px;
                margin-right: 35px;
                .desc {
                    margin-right: 0;
        }
    }
    }
}
    .intro-activities-wrapper {
        .intro-activities {

            .activities-item {
                width: 27%;
            .title {
                    h3 {
                        font-size: 12px !important;
                    }
                }
            }
            .first {
                margin-left: 2%;
            }
            .second {
              margin-left: 7.5%;
            }
            .third {
                margin-left: 7.5%;
            }
        }
    }

    // .campus-life-wrapper {
    //     .campus-life {
    //         .gallery {
    //             .gallery-item {
    //                 display: block;
    //                 margin-left: 0;

    //                 .image {
    //                     width: 87%;
    //                     margin-left: auto;
    //                     margin-right: auto;
    //                     margin-bottom: 20px;
    //                 }
    //             }
    //         }
    //     }
    // }

    // .why-stjohns-wrapper {
    //     .why-stjohns {
    //         .why-item {
    //             .item {
    //                 .data {
    //                     .image {
    //                         img {
    //                             width: 50px;
    //                             height: 50px;
    //                         }
    //                     }
    //                     .title {
    //                         p {
    //                             font-size: 12px;
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }

    .quotes-wrapper {
        .quotes {
            .quote {
                p {
                    font-size: 13px;
                }
            }
        }
    }
}
}