<div class="contact-wrapper content">
    <div class="contact">
        <div class="left-container">
            <div class="left">
                <div class="header">
                    <h3>Contact Us</h3>
                </div>
                <div class="item">
                    <h5>Address</h5>
                    <div class="container">
                        <div>
                            <span><i class="fa fa-map-marker"></i></span>
                        </div>
                        <div>
                            <span>Behind Oriental Bank, Ram Pur Crossing, Roorkee,
                                Uttarakhand-247667, India</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <h5>Email</h5>
                    <div class="container">
                        <div>
                            <span><i class="fa fa-envelope-o"></i></span>
                        </div>
                        <div>
                            <span>stjohnsrke@gmail.com</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <h5>Phone</h5>
                    <div class="container">
                        <div>
                            <span><i class="fa fa-phone"></i></span>
                        </div>
                        <div>
                            <span>1332-261435</span>
                        </div>
                    </div>
                </div>
                <div class="item" style="padding-bottom: 31px;">
                    <h5>Facebook</h5>
                    <div class="container">
                        <div>
                            <span><i class="fa fa-facebook"></i></span>
                        </div>
                        <div>
                            <span><a href="https://m.facebook.com/profile.php?id=142631755824341"
                                    target="_blank">https://m.facebook.com/profile.php?id=142631755824341</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-container">
            <div class="right">
                <div class="map">
                    <div id="hotel_map"></div>
                    <div id="popup">
                        <div class="marker-title">St Johns</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>