@import '../../styles/variable';
.contact-wrapper {
    margin-top: 40px;
    //margin-bottom: 6%;

    .contact {
        display: flex;
        .left-container {
            width: 50%;
            background-color: #F2F2F2;
            .left {
                margin: 4%;
            .header {
                padding-top: 20px;
                h3 {
                    font-weight: 800;
                    font-family: $primary-font-family;
                    color: $theme-tertiary;
}
                }

                .item {
                    margin-top: 30px;
                    h5 {
                        font-weight: 900;
                        color: $theme-tertiary;
                        font-family: $primary-font-family;
                    }
                    .container {
                        display: flex;
                        span {
                            font-size: 14px;
                            font-weight: 400;
                            i {
                                color: $theme-primary;
                                font-size: 25px;
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }
        }
        }

        .right-container {
            width: 50%;
           // margin-right: 3%;
           .right {
            height: 100%;
            .map {
                height: 100%;
                img {
                    height: 100%;
                    width: 100%;
                    opacity: 0.9;
                }
            }
        }
        }
    }


    @media screen and (max-width: 1024px) {
        .contact-wrapper {
            margin-top: 7%;
            margin-bottom: 7%;

            .contact {
                display: block;

                .left-container, .right-container {
                    width: 100%;
                }
                .right-container {
                    height: 500px;
                }
            }
        }
    }

    agm-map {
        .agm-map-container-inner  {
            height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
        }
    }

    #hotel_map {
        height: 100%;
        width: 100%;
    }
    .marker-title {
        color: darkred;
        font-weight: 600;
    }