<div class="file-wrapper">
    <app-loader [show]="showSpinner"></app-loader>
    <div class="col-lg-6 col-md-12 file-section">
        <div class="file-container">
            <div class="file-main">
                <div class="file-header">
                    <div class="header">{{data.username}}</div>
                    <div (click)="closeDialog()" style="cursor: pointer;">X</div>
                </div>
                <div class="card card-register">
                    <div class="file-desc">Name: {{data.username}}</div>
                    <div class="file-desc">Email: {{data.email}}</div>
                    <div class="file-desc">Role: {{data.role}}</div>
                    <div class="file-desc">Status: {{userStatus}}</div>
                    <div class="file-desc">User Type: {{userType}}</div>
                    <div class="file-desc">Joined On: {{data.date}}</div>
                    <div class="buttons">
                        <a (click)="blockUser(data.email)" class="btn btn-danger btn-block"
                            *ngIf="data.isActive">Block</a>
                        <a (click)="unBlockUser(data.email)" class="btn btn-danger btn-block"
                            *ngIf="!data.isActive">Unblock</a>
                        <a (click)="makeAdmin(data.email)" class="btn btn-danger btn-block"
                            *ngIf="!data.isAdmin">Make Admin</a>
                        <a (click)="removeAdmin(data.email)" class="btn btn-danger btn-block"
                            *ngIf="data.isAdmin">Remove Admin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>