@import '../../styles/variable';
    
.image-wrapper {

    .image {
        .img {
        img {
            width: 100%;
            height: 67vh;
            object-fit: cover;
            @media screen and (max-width:767px) {
                height: 47vh;
            }
        }
    }
    }
}
.about-wrapper {
    margin: 14%;
    margin-top: 0;
    margin-bottom: 20px;
    //margin-bottom: 6%;
    @media screen and (max-width: 1024px) {
        margin: 2%;
    }
    .about-content {
        .school-desc {
            p {
                margin-top: 15px;
                font-size: 15px;
                font-weight: 400;
                color: $theme-tertiary;
            }
        }
        .school-info {
            .header {
                text-align: center;
                background-color: $theme-primary;
                h3 {
                    font-size: 15px;
                    color: $theme-secondary;
                    font-weight: bold;
                    padding: 8px;
                }
            }
            .info-table {
                table {
                    width: 100%;
                    tbody {
                        tr {
                            border: 1px solid #dbdbdb;
                            td{
                                font-size: 15px;
                                font-weight: 400;
                                color: $theme-tertiary;
                                border: 1px solid #dbdbdb;
                                text-align: center;
                                padding: 5px;
                            }
                        }
                        tr:nth-child(odd) {
                            background-color: lightgrey;
                        }
                    }
                }
            }
            .affiliation {
                img {
                    width: 100%;
                    background-color: #dbdbdb;
                    padding: 3px;
                }
            }
        }
        @media screen and (max-width: 767px) {
            .intro-content {
                .intro-right {
                    .right {
                        img {
                            height: 500px;
                        }
                    }
                }
            }
        }
        }
    }

    .doc-table {
        a{
            color: darksalmon;
            font-weight: 500;
            font-size: 15px;
        }
    }

    .up {
        border-style: inset;
        width: 0;
	height: 0;
	border-left: 50vw solid transparent;
	border-right: 50vw solid transparent;
	border-top: 80px solid $theme-primary;
    border-bottom: none;
      }
      
    .up p {
        text-align: center;
    left: -57px;
    position: relative;
    width: 120px;
    height: 93px;
    margin: 0px;
    font-weight: 800;
    margin-top: -62px;
    color: white;
    font-size: 20px;;
    }