<div class="image-wrapper">
    <div class="image">
        <div class="img">
            <img src="../../../assets//image/test.jpg" />
        </div>
    </div>
</div>
<div class="up">
    <p>About Us</p>
</div>
<div class="about-wrapper content">
    <div class="about-content">
        <div class="school-desc">

            <p>Founded in 1995, St. John’S School is a Senior Secondary, affiliated to CBSE.
                The school is being managed by St Peter'S Child Chari Edu Society.</p>

            <p>St Johns School is an English Medium, Co-educational Institution, with the aim of developing an all-round
                ability of the students with balanced training that will lead to a proper appreciation of academic,
                athletic, ethical, and moral excellence which goes into the making of a complete person. The challenge
                is to create an architectural environment that will not only support but inspire an educational process
                to act as a link between home and the world since education at school is a continuation and extension of
                parental education at home.</p>

            <p>Every school day, our teachers strive to create an exciting and inspiring learning experience for every
                child. Our school will be the stage for many of your child's most exciting days, from eye-opening
                discoveries in the science labs to great sporting victories and thrilling performances on stage in our
                auditorium. Our School facilities are set up to support students as they master a wide range of
                subjects. There are rooms for design technology, computer technology, art and design, music, and drama.
            </p>
        </div>
        <div class="school-info">
            <div class="header">
                <h3>SCHOOL INFORMATION</h3>
            </div>
            <div class="info-table">
                <table>
                    <tbody>
                        <tr>
                            <td>Name of the School with address: (Strictly as per Affiliation sanction letter or as
                                permitted by the Board) with pin code no.</td>
                            <td>St John's School, Green Park Colony, Rampur Chungi Roorkee Uttarakhand 247667</td>
                        </tr>
                        <tr>
                            <td>E-mail</td>
                            <td>stjohnsrke@gmail.com</td>
                        </tr>
                        <tr>
                            <td>Ph. No</td>
                            <td>1332-261435</td>
                        </tr>
                        <tr>
                            <td>Fax No</td>
                            <td>01332261435</td>
                        </tr>
                        <tr>
                            <td>School Code</td>
                            <td>81151</td>
                        </tr>
                        <tr>
                            <td>Affiliation No.</td>
                            <td>3530109</td>
                        </tr>
                        <tr>
                            <td>Year of establishment of school</td>
                            <td>1995</td>
                        </tr>
                        <tr>
                            <td>Name of Trust/Society/Company Registered under Section 25 of the Company Act, 1956.
                                Period upto which Registration of Trust/Society is valid</td>
                            <td>St. Peter's Children Charitable Edu.
                                Society
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>

            <div class="affiliation header">
                <h3>CERTIFICATE OF AFFILIATION</h3>
                <img src="../../../assets/image/affiliationcertificate.jpg" />
            </div>

            <div class="header">
                <h3>FACULTY DETAILS</h3>
            </div>
            <div class="info-table">
                <table>
                    <tbody>
                        <tr>
                            <td>Total number of teachers</td>
                            <td>26</td>
                        </tr>
                        <tr>
                            <td>Number of PGTs</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Number of TGTs</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>Number of PRTs</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>Number of PETs</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Number of NTTs</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Other Non-Teaching staff</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Number of mandatory training qualified teachers</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Number of trainings attended by faculty since last year</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Has mandatory training of teachers as per the training</td>
                            <td>Yes</td>
                        </tr>
                    </tbody>

                </table>
            </div>

            <div class="header">
                <h3>SUBJECTS OFFERED FOR CLASS 10</h3>
            </div>
            <div class="info-table">
                <table>
                    <tbody>
                        <tr>
                            <td>SOCIAL SCIENCE</td>
                            <td>087</td>
                        </tr>
                        <tr>
                            <td>MATHEMATICS BASIC</td>
                            <td>241</td>
                        </tr>
                        <tr>
                            <td>MATHEMATICS</td>
                            <td>041</td>
                        </tr>
                        <tr>
                            <td>HINDI COURSE-B</td>
                            <td>085</td>
                        </tr>
                        <tr>
                            <td>SCIENCE</td>
                            <td>086</td>
                        </tr>
                        <tr>
                            <td>ENGLISH LANG & LIT.</td>
                            <td>184</td>
                        </tr>
                    </tbody>

                </table>
            </div>

            <div class="header">
                <h3>SUBJECTS OFFERED FOR CLASS 12</h3>
            </div>
            <div class="info-table">
                <table>
                    <tbody>
                        <tr>
                            <td>ACCOUNTANCY</td>
                            <td>055</td>
                        </tr>
                        <tr>
                            <td>BIOLOGY</td>
                            <td>044</td>
                        </tr>
                        <tr>
                            <td>BUSINESS STUDIES</td>
                            <td>054</td>
                        </tr>
                        <tr>
                            <td>CHEMISTRY</td>
                            <td>043</td>
                        </tr>
                        <tr>
                            <td>ECONOMICS</td>
                            <td>030</td>
                        </tr>
                        <tr>
                            <td>ENGLISH CORE</td>
                            <td>301</td>
                        </tr>
                        <tr>
                            <td>Health & Physical Education</td>
                            <td>502</td>
                        </tr>
                        <tr>
                            <td>HINDI CORE</td>
                            <td>302</td>
                        </tr>
                        <tr>
                            <td>MATHEMATICS</td>
                            <td>041</td>
                        </tr>
                        <tr>
                            <td>PHYSICAL EDUCATION</td>
                            <td>048</td>
                        </tr>
                        <tr>
                            <td>PHYSICS</td>
                            <td>042</td>
                        </tr>
                    </tbody>

                </table>
            </div>

            <div class="header">
                <h3>INFRASTRUCTURE DETAILS</h3>
            </div>
            <div class="info-table">
                <table>
                    <tbody>
                        <tr>
                            <td>Total number of sites of school</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Total number of building blocks</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Total number of playgrounds</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>Total number of rooms</td>
                            <td>29</td>
                        </tr>
                        <tr>
                            <td>Total number of male restrooms</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Total number of female restrooms</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Total number of boys toilet</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>Total number of girls toilet</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>Total number of libraries</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Total number of laboratories</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Total number of student canteens</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Total number of staff canteens</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Total number of digital classrooms</td>
                            <td>24</td>
                        </tr>
                        <tr>
                            <td>Total number of activity rooms</td>
                            <td>8</td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="header" *ngIf="documentArray && documentArray.length > 0">
                <h3>Public Disclosure</h3>
            </div>
            <div class="info-table doc-table" *ngIf="documentArray && documentArray.length > 0">
                <table>
                    <tbody>
                        <tr *ngFor="let document of documentArray">
                            <td>{{document.name}}</td>
                            <td><a [href]="document.url">View</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>