<div style="height: 100%;">

    <!-- <div *ngIf="showSpinner" style="position: absolute;margin: 50%; margin-top: 40%;">
        <app-spinner-form [show]="showSpinner" [color]="'#002147'"></app-spinner-form>
    </div> -->
    <app-loader [show]="showSpinner"></app-loader>

    <div class="login-wrapper">
        <div class="col-lg-6 col-md-12 login-section">
            <div class="login-container">
                <div class="login-main">
                    <div class="login-header">
                        <div class="header">Login</div>
                        <div (click)="closeDialog()" style="cursor: pointer;">X</div>
                    </div>
                    <div class="card card-register">
                        <form class="register-form" [formGroup]="loginForm" (submit)="login(loginForm.value)">
                            <div class="error" [ngClass]="{'error-email-verify': sentLink}"
                                *ngIf="loginClicked && errorMessage"><label><i
                                        class="fa fa-exclamation-circle"></i>{{errorMessage}}. <a
                                        *ngIf="emailVerifyError" (click)="sendVerificationEmail()">Resend verification
                                        link</a></label></div>
                            <label>Email</label>
                            <div class="input-group form-group-no-border">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>

                                <input type="email" class="form-control" formControlName="email" placeholder="Email">
                            </div>
                            <div class="error-msg" *ngIf="isSubmitted && (formControls.email.errors)">*Please enter a
                                valid email address</div>

                            <label>Password</label>
                            <div class="input-group form-group-no-border">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-unlock"></i>
                                    </span>
                                </div>
                                <input [type]="fieldTextType ? 'text' : 'password'" class="form-control password"
                                    formControlName="password" placeholder="Password">
                                <div class="input-group-prepend">
                                    <span class="input-group-text postpend">
                                        <a (click)="showPassword()"><i class="fa" [ngClass]="{
                                                'fa-eye-slash': !fieldTextType,
                                                'fa-eye': fieldTextType
                                              }"></i></a>
                                    </span>
                                </div>

                            </div>
                            <div class="error-msg" *ngIf="isSubmitted && formControls.password.errors">*Please enter the
                                password of atleast 8 characters</div>

                            <button type="submit" class="btn btn-danger btn-block">Login</button>
                            <a (click)="openForgotPasswordDialog()" class="forgot-password">Forgot/Reset Password?</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>