@import '../../../assets/sass/paper-kit/variables';
@import '../../styles/variable';
.login-wrapper {
    display: flex;
    height: 100%;

    .login-section {
        max-width: 100%;
        flex: 100%;
        margin-top: auto;
        margin-bottom: auto;
        @media screen and (max-width: 767px) {
            margin: 0;
            padding: 0;
        }
    }
.login-container {
    font-size: 20px;
    @media screen and (max-width: 767px) {
        height: 100%;
    }
    .login-main {
        @media screen and (max-width: 767px) {
            height: 100%;
        }
    }
    .login-header {
        background-color: #000;
        color: #fff;
        max-width: 440px;
        padding: 13px 20px 13px 20px;
        // padding-left: 20px;
        // padding-right: 20px;
        margin: auto;
        text-align: center;
        justify-content: space-between!important;
        display: flex;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        @media screen and (max-width: 767px) {
            border-radius: 0;
        }
    }

    .card-register {
        border-radius: 0;
        background-color: #141414;
        margin: auto;
        margin-top: -5px;
        min-height: auto;
        max-width: 440px;
        padding-top: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        @media screen and (max-width: 767px) {
            height: 100%;
            border-radius: 0;
        }
        .error, .error1 {
            display: flex;
            background-color: rgb(1, 191, 113);
            font-size: 14px;
            margin-top: 17px;
            label {
                margin: auto;
                padding: 8px;

                i {
                    margin-right: 2px;
                }
            }
        }
        .error1 {
            background-color: red;
        }
        .heading {
            h1 {
                text-align: center;
                font-size: 22px;
            }
        }
        .desc {
            text-align: center;
            margin-top: 20px;
    p{
        font-size: 14px;
        span {
            color: $theme-link-color;
        }
    }
    a {
        color: $theme-link-color;
        cursor: pointer;
    }
        }
    }
}
}