<div style="height: 100%;">

    <!-- <div *ngIf="showSpinner" style="position: absolute;margin: 50%; margin-top: 40%;">
        <app-spinner-form [show]="showSpinner" [color]="'#002147'"></app-spinner-form>
    </div> -->
    <app-loader [show]="showSpinner"></app-loader>

    <div class="login-wrapper">
        <div class="col-lg-6 col-md-12 login-section">
            <div class="login-container">
                <div class="login-main">
                    <div class="login-header">
                        <div class="header">Verify Email</div>
                        <div (click)="closeDialog()" style="cursor: pointer;">X</div>
                    </div>
                    <div class="card card-register">
                        <div class="error" *ngIf="verificationMessage"><label><i
                                    class="fa fa-exclamation-circle"></i>{{verificationMessage}}</label></div>
                        <div class="error1" *ngIf="errorMessage"><label><i
                                    class="fa fa-exclamation-circle"></i>{{errorMessage}}</label></div>
                        <div class="heading">
                            <h1>Please verify your email</h1>
                        </div>
                        <div class="desc">
                            <p>You're almost there! We have sent an email to <span>{{data.email}}</span></p>
                        </div>
                        <div class="desc">
                            <p>Just click on the link in that email to complete your signup.
                                If you don't see it, you may need to check your spam folder.</p>
                        </div>
                        <div class="desc">
                            <p>Still can't find the email?</p>
                            <button class="btn btn-danger btn-block" (click)="sendVerificationEmail()">Resend
                                Email</button>
                            <p>Need help? <a href="/contact">Contact Us</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>