<div class="wrapper">
    <div class="main" id="main">
        <!-- <div *ngIf="showSpinner" style="position: absolute;margin: 50%;margin-top: 26%">
            <app-spinner-form [show]="showSpinner" [color]="'#002147'"></app-spinner-form>
        </div> -->
        <app-loader [show]="showSpinner"></app-loader>
        <div *ngIf="!showSpinner" class="upload-section" id="upload">
            <div class="container">
                <div class="row not-loggedin-wrapper" *ngIf="!isLoggedIn">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="title">Please log in</h2>
                        <h5 class="subtitle">Only logged users are allowed to access this page.</h5>
                        <br>
                    </div>
                </div>
                <div class="row not-loggedin-wrapper" *ngIf="isLoggedIn && !isAdmin">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="title">You're not an admin</h2>
                        <h5 class="subtitle">Only admin users are allowed to access this page.</h5>
                        <br>
                    </div>
                </div>
                <div class="row" *ngIf="isLoggedIn && isAdmin">
                    <div class="col-lg-6 col-md-12 users">
                        <h2 class="title">Users</h2>
                        <div class="user-table" *ngIf="userArray && userArray.length > 0">
                            <table>
                                <tbody>
                                    <tr *ngFor="let user of userArray;" (click)="openUser(user.email)">
                                        <td>{{user.username}}({{user.email}})</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 users">
                        <h2 class="title">Documents</h2>
                        <div class="user-table" *ngIf="documentArray && documentArray.length > 0">
                            <table>
                                <tbody>
                                    <tr *ngFor="let document of documentArray;" (click)="openDocument(document.id)">
                                        <td>{{document.name}}({{document.id}})</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>

                <div class="row">
                <div class="col-lg-12 col-md-12 users" *ngIf="notices && notices.length>0">
                    <h2 class="title">Announcements</h2>
                    <div class="user-table">
                        <table>
                            <tbody>
                                <tr *ngFor="let notice of notices;">
                                    <td>{{notice.desc}}</td>
                                    <td (click)="deleteNotice(notice.title)" class="deleteNotice"><i class="fa fa-trash-o"></i></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                </div>
                
                <div class="row">
                <div class="col-lg-12 col-md-12 users">
                    <h2 class="title">Upload Announcement</h2>
                    <div class="form">
                        <form id="noticeForm">
                            <div class="form-group">
                              <label for="title">Title:</label>
                              <input type="text" class="form-control" id="title" placeholder="Enter title" name="title">
                            </div>
                            <div class="form-group">
                              <label for="desc">Description:</label>
                              <textarea type="text" class="form-control" id="desc" placeholder="Enter description" name="desc"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default" (click)="uploadNotice()">Submit</button>
                          </form>
                    </div>
                </div>
                </div>

            </div>
            </div>
        </div>
    </div>
</div>