@import '../../styles/variable';
.wrapper {
    .main {
        .upload-section {
            padding: 40px 0;
            .not-loggedin-wrapper {
                margin-top: 14%;
                text-align: center;
            }
            .row {
                .users {
                    margin: 0;
                    margin-top: 25px;
                    .title {
                        margin: 0;
                        color:$theme-tertiary;
                        text-align: center;
                    }
                    .user-table {
                        table {
                            width: 100%;

                            tbody {
                                tr {
                                    &:hover {
                                        cursor: pointer;
                                    }
                                    td {
                                        //border: 0.1px solid $theme-primary;
                                        padding: 13px;
                                        font-weight: 500;
                                    }
                                }
                                tr:nth-child(even) {
                                    background-color: #f8f6ff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.deleteNotice {
    float: right;
    margin-right: 10px;
    i {
        color: red;
    }
}

#noticeForm {
    padding: 15px;
}