<div class="main">
    <div class="intro-wrapper">
        <div class="intro-header">
            <p class="header">
                Welcome to St Johns Sr. Sec. School. Established in 2014
            </p>
        </div>
        <div class="teaser-wrapper">
            <div class="teasers">
                <ngb-carousel [interval]="3000" [animation]="true" [pauseOnHover]="false">
                    <ng-template ngbSlide>
                        <div class="teaser-img">
                            <img src="../../../assets//image/geometry.jpg" />
                        </div>
                        <div class="desc">
                            <p>To bring together the traditions and ethos of India with modern technology in an
                                environment
                                where
                                every child is an individual. St Johns is a day boarding school in Roorkee which offers English medium, secular, co-educational education.
                            </p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="teaser-img">
                            <img src="../../../assets//image/cartoon.jpg" />
                        </div>
                        <div class="desc">
                            <p>At St Johns, we endeavour to promote a classroom of thinkers who
                                would have the courage and conviction to lead the world with their astute insight,
                                competency, calibre and impeccable values.
                            </p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="teaser-img">
                            <img src="../../../assets//image/lab.jpg" />
                        </div>
                        <div class="desc">
                            <p>Our school vision is to nurture the balanced and spirit, leading to the fulfillment of
                                each individual’s potential within the broader community in all its diversity.
                            </p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="teaser-img">
                            <img src="../../../assets//image/bb-1.jpg" />
                        </div>
                        <div class="desc">
                            <p>Mission of school is to enable all children to attain all-round development in the
                                domains of ethics, intellect, physique, social skills and aesthetics so that he/she is
                                capable of life-long learning, critical thinking, innovating and adapting to change.
                            </p>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>

    <div class="intro-metadata-wrapper content">
        <div class="intro-metadata">
            <div class="metadata-item first">
                <div class="icon"><img src="../../../assets/image/paper-plane.png" class="img1" /></div>
                <div class="data">
                    <h3 class="title">Learning & Fun</h3>
                    <p>We turn learning into fun!</p>
                </div>
            </div>
            <div class="metadata-item second">
                <div class="icon"><img src="../../../assets/image/atom.png" class="img2" /></div>
                <div class="data">
                    <h3 class="title">Innovative Approach</h3>
                    <p>We bring innovation to teaching.</p>
                </div>
            </div>
            <div class="metadata-item third">
                <div class="icon"><img src="../../../assets/image/mortarboard.png" class="img3" /></div>
                <div class="data">
                    <h3 class="title">Expert Teachers</h3>
                    <p>Our teachers are experts and passoniate.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="principal-message-wrapper" *ngIf="notices && notices.length>0">
        <div class="principal-message">
            <div class="announcement-left left">
                <div class="announcement-wrapper">
                    <div class="announcement">
                        <h1>Announcements&nbsp;<i class="fa fa-bullhorn" aria-hidden="true"></i></h1>
                    </div>
                </div>
            </div>
            <div class="announcement-right right">
                <div class="prev"><span (click)="prev()"><i class="fa fa-angle-double-left"></i></span></div>
                <div class="item">
                    <div class="carousel">
                        <ngb-carousel #carousel [interval]="3000" [animation]="true">
                            <ng-template ngbSlide *ngFor="let notice of notices">
                                <div class="quote">
                                    <p>{{notice.desc}}</p>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
                <div class="next"><span (click)="next()"><i class="fa fa-angle-double-right"></i></span></div>
            </div>
        </div>
    </div>

    <div style="background-color: #F2F2F2;">
    <div class="intro-activities-wrapper content">
        <div class="intro-activities">
            <div class="activities-item first">
                <div class="activity">
                    <div class="title">
                        <h3>EXISTING FACILITIES</h3>
                    </div>
                    <div class="list">
                        <ul>
                            <li>ROBOTIC WORKSHOP</li>
                            <li>SCIENCE SEMINAR</li>
                            <li>SCIENCE LAB</li>
                            <li>LIBRARY (WELL STOCKED)</li>
                            <li>OVERHEAD PROJECTORS</li>
                            <li>CCTV CAMERAS</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="activities-item second">
                <div class="activity">
                    <div class="title">
                        <h3>CO-CURRICULAR ACTIVITIES</h3>
                    </div>
                    <div class="list">
                        <ul>
                            <li>Cricket</li>
                            <li>Badminton</li>
                            <li>Dramatics</li>
                            <li>Music and Singing</li>
                            <li>Photography</li>
                            <li>Dance classes</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="activities-item third">
                <div class="activity">
                    <div class="title">
                        <h3>WORKING HOURS</h3>
                    </div>
                    <div class="list">
                        <ul>
                            <li>Monday 8.00 AM - 3 PM</li>
                            <li>Tuesday 8.00 AM - 3 PM</li>
                            <li>Wednesday 8.00 AM - 3 PM</li>
                            <li>Thursday 8.00 AM - 3 PM</li>
                            <li>Friday 8.00 AM - 3 PM</li>
                            <li>Saturday 8.00 AM - 3 PM</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="principal-message-wrapper">
        <div class="principal-message">
            <div class="left">
                <div class="image-wrapper">
                    <div class="image">
                        <img src="../../../assets/image/01.jpg" />
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="desc">
                    <h1>Principal’s Message</h1>
                    <h3>Mr. Kenith Samuel</h3>
                    <p>Welcome to St. John’s website. The purpose of this website is to provide parents, students and
                        our school community with easy access to a wealth of information on School programs, policies
                        and activities.<a href="/about">Learn More...</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="campus-life-wrapper">
        <div class="campus-life">
            <div class="header">
                <h3>Campus Life</h3>
            </div>
            <div class="gallery">
                <div class="gallery-item">
                    <div class="image"><img src="../../../assets/image/01.jpg" /></div>
                    <div class="image"><img src="../../../assets/image/02.jpeg" /></div>
                    <div class="image"><img src="../../../assets/image/03.jpg" /></div>
                </div>
                <div class="gallery-item">
                    <div class="image"><img src="../../../assets/image/04.jpg" /></div>
                    <div class="image"><img src="../../../assets/image/05.jpeg" /></div>
                    <div class="image"><img src="../../../assets/image/06.jpg" /></div>
                </div>
            </div>
        </div>
    </div>

    <div class="why-stjohns-wrapper">
        <div class="why-stjohns">
            <div class="header">
                <h3>Why St Johns?</h3>
            </div>
            <div class="why-item">
                <div class="item">
                    <div class="data">
                        <div class="image"><img src="../../../assets/image/tree.svg" /></div>
                        <div class="title">
                            <p>Pollution Free Green Campus</p>
                            <span>We believe in preserving nature.</span>
                        </div>
                    </div>
                    <div class="data">
                        <div class="image"><img src="../../../assets/image/flask.svg" /></div>
                        <div class="title">
                            <p>Fully geared up laboratories</p>
                            <span>Our labs have all latest equipments.</span>
                        </div>
                    </div>
                    <div class="data last">
                        <div class="image"><img src="../../../assets/image/book.svg" /></div>
                        <div class="title">
                            <p>Practical Based Experiential Learning</p>
                            <span>We focus more on practical aspect of learning.</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="data">
                        <div class="image"><img src="../../../assets/image/futbol-o.svg" /></div>
                        <div class="title">
                            <p>Coaching for all the Sports & Games</p>
                            <span>Our coaches provide best training for various sports.</span>
                        </div>
                    </div>
                    <div class="data">
                        <div class="image"><img src="../../../assets/image/percent.svg" /></div>
                        <div class="title">
                            <p>24: 1 Student Teacher Ratio</p>
                            <span>We have very low student to teacher ratio.</span>
                        </div>
                    </div>
                    <div class="data last">
                        <div class="image"><img src="../../../assets/image/university.svg" /></div>
                        <div class="title">
                            <p>Home away from Home – Environment</p>
                            <span>We focus on creating home like environment.</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="data initial">
                        <div class="image"><img src="../../../assets/image/users.svg" /></div>
                        <div class="title">
                            <p>Special Care for Slow Learners</p>
                            <span>We believe in bringing every student on same level.</span>
                        </div>
                    </div>
                    <div class="data initial">
                        <div class="image"><img src="../../../assets/image/graduation-cap.svg" /></div>
                        <div class="title">
                            <p>Skill & Value Based Education</p>
                            <span>Our structure promotes skills and value bases eduaction.</span>
                        </div>
                    </div>
                    <div class="data last" style="border-bottom: 0;">
                        <div class="image"><img src="../../../assets/image/handshake-o.svg" /></div>
                        <div class="title">
                            <p>Teacher Exchange Programme</p>
                            <span>We believe in providing best education.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="quotes-wrapper content">
        <div class="quotes">
            <ngb-carousel [interval]="3000" [animation]="true">
                <ng-template ngbSlide>
                    <div class="quote">
                        <p>Education is the movement from darkness to light</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="quote">
                        <p>The foundation of every state is the education of its youth</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="quote">
                        <p>The roots of education are bitter, but the fruit is sweet</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="quote">
                        <p>Change is the end result of all true learning</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="quote">
                        <p>Education is not the filling of a pail, but the lighting of a fire</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>