<div class="file-wrapper">
    <div class="col-lg-6 col-md-12 file-section">
        <div class="file-container">
            <div class="file-main">
                <div class="file-header">
                    <div class="header">{{fileName}}</div>
                    <div (click)="closeDialog()" style="cursor: pointer;">X</div>
                </div>

                <div class="card card-register">
                    <div class="file-desc"><span>{{fileDesc}}</span></div>
                    <div class="file-desc-1" *ngIf="fileRoute">You can view your file at <span
                            [ngClass]="{'copied': copied}" id="linkText">{{fileRoute}}</span></div>
                    <div class="buttons">
                        <a *ngIf="fileRoute" (click)="copyLink()"
                            class="btn btn-danger btn-block">{{copyButtonText}}</a>
                        <a *ngIf="fileRoute" [href]="fileRoute" class="btn btn-danger btn-block">Open</a>
                    </div>
                    <a *ngIf="!data" (click)="closeDialog()" class="btn btn-danger btn-block">View All Documents</a>
                </div>
            </div>
        </div>
    </div>
</div>