<div style="height: 100%;">

    <!-- <div *ngIf="showSpinner" style="position: absolute;margin: 50%; margin-top: 40%;">
        <app-spinner-form [show]="showSpinner" [color]="'#002147'"></app-spinner-form>
    </div> -->
    <app-loader [show]="showSpinner"></app-loader>

    <div class="login-wrapper">
        <div class="col-lg-6 col-md-12 login-section">
            <div class="login-container">
                <div class="login-main">
                    <div class="login-header">
                        <div class="header">Forgot/Reset Password</div>
                        <div (click)="closeDialog()" style="cursor: pointer;">X</div>
                    </div>
                    <div class="card card-register">
                        <form class="register-form" [formGroup]="loginForm" (submit)="resetPassword(loginForm.value)">
                            <div class="error" *ngIf="verificationMessage"><label><i
                                        class="fa fa-exclamation-circle"></i>{{verificationMessage}}</label></div>
                            <div class="error1" *ngIf="errorMessage"><label><i
                                        class="fa fa-exclamation-circle"></i>{{errorMessage}}</label></div>
                            <label>Email</label>
                            <div class="input-group form-group-no-border">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>

                                <input type="email" class="form-control" formControlName="email" placeholder="Email">
                            </div>
                            <div class="error-msg" *ngIf="isSubmitted && (formControls.email.errors)">*Please enter a
                                valid email address</div>
                            <button type="submit" class="btn btn-danger btn-block">Get Reset Link</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>