<div>
<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" [ngClass]="{'navbar-transparent': !isDownload() && !isFileDownload()}" color-on-scroll="500" id="navbar">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/">St Johns</a>
            <!-- <a style="color: #002147" *ngIf="isLoggedIn && userData && userData.username" class="navbar-brand dropdown-btn" (click)="openProfile()">{{userData.username}}</a> -->
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mobile-brand">
                    <a href="/" class="navbar-brand">St Johns</a><br />
                    <a class="navbar-avatar">{{username.slice(0,1)}}</a><br />
                    <a class="name">Welcome, {{username}}</a>
                    <!-- <a class="navbar-brand" (click)="sidebarToggle()">X</a> -->
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link" [ngClass]="{'active':isHome()}"> Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link" [ngClass]="{'active':isAbout()}"> About Us</a>
                </li>
                <li class="nav-item">
                    <a href="/upload" class="nav-link" [ngClass]="{'active':isUpload()}"> Upload</a>
                </li>
                <li class="nav-item">
                    <a href="/download" class="nav-link" [ngClass]="{'active':isDownload() || isFileDownload()}"> Public Disclosure</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link" [ngClass]="{'active':isContact()}"> Contact Us</a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn" (click)="openSignupDialog()">
                    <a class="btn btn-danger btn-round nav-item-btn">Signup</a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn" (click)="opeLoginDialog()">
                    <a class="btn btn-danger btn-round nav-item-btn">Login</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn && userData" (click)="openForgotPasswordDialog()">
                    <a class="btn btn-danger btn-round nav-item-btn change-pass logged-in-btn">Change Password</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn && userData" (click)="logout()">
                    <a class="btn btn-danger btn-round nav-item-btn logged-in-btn">Log Out</a>
                </li>
                <li class="nav-item profile" *ngIf="isLoggedIn && userData">
                    <!-- <a class="nav-item-btn"><i class="fa fa-user"></i></a> -->
                    <a class="nav-item-btn navbar-avatar">{{username.slice(0,1)}}</a>
                    <ul class="dropdown">
                        <li class="border-bottom-li"><a>Welcome, {{username}}</a></li>
                        <li class="border-bottom-li"><a (click)="openForgotPasswordDialog()">Change Password</a></li>
                        <li><a (click)="logout()">Log Out</a></li>
                      </ul>
                </li>
                <!-- <li class="nav-item" *ngIf="isLoggedIn">
                    <a *ngIf="isLoggedIn && userData && userData.username" class="navbar-brand dropdown-btn" (click)="openProfile()">{{userData.username}}</a>
                    <div id="userProfile" class="dropdown-content">
                        <a>{{userData.username}}</a>
                        <a class="btn btn-danger btn-round" (click)="logout()">Logout</a>
                      </div>
                </li> -->
                
            </ul>
        </div>
    </div>
</nav>
</div>
<div class="marquee" *ngIf="!isHome()">
<app-marquee></app-marquee>
</div>