@import '../../../assets/sass//paper-kit//variables';
@import '../../styles/variable';

.navbar {
    background-color: $theme-secondary;

    .navbar-toggler {
        background-color: $theme-primary;
        padding: 8px;
        margin-right: 15px;
    }
}

.navbar-nav {
   
    .nav-item {
        a{
            cursor: pointer;
            color: $theme-primary;
        }
        .nav-item-btn {
            color: $theme-secondary;
            // color: $theme-secondary;
            // &:hover {
            //     background-color: $theme-primary;
            // }
            i {
                font-size: 30px;
                color: $theme-primary;
            }
        }
        a.active {
            color: $theme-primary !important;
            border-bottom: 2px solid $danger-color;
            // @media screen and (max-width: 991px) {
            //     color: $theme-secondary !important;
            // }
            @media screen and (max-width: 1024px) {
                border-bottom: none;
            }
        }
    }
    .profile {
        margin: auto;
        padding-right: 15px;

        &:hover > ul {
            visibility: visible;
            opacity: 1;
            display: block;
        }
        ul {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            transition: all 0.5s ease;
            //margin-top: -0.8rem;
            display: none;
            padding-left: 0;
            list-style: none;
            width: 180px;
            //margin-left: -17px;
            margin-top: 4px;
            margin-left: -63px;
            text-align: center;

            li {
                background-color: $theme-primary;
                padding: 5px;
                a {
                    font-size: 15px;
                    color: $theme-secondary;
                }
            }
            .border-bottom-li {
                border-bottom: 1px solid $theme-secondary;
            }
        }
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .mobile-brand {
    display: none;
 }
 .logged-in-btn {
    margin: 15px 15px;
     display: none;
 }
 .navbar-avatar { 
     font-weight: 900;
     font-size: 20px;
     border-radius: 50%;
     border: 1px solid #002147;
     width: 250px;
     height: 250px;
     padding: 7px;
     color: white !important;
     background: #002147;
     padding-left: 15px;
     padding-right: 15px;
 }
  @media screen and (max-width: 991px){
      .profile { 
            display: none;
      }
      .logged-in-btn {
          display: block;
      }
    .mobile-brand {
        margin-top: -15px;
        display: block;
        a {
            color: $theme-primary !important;
            opacity: 1 !important;
        }

        .navbar-brand {
            padding-bottom: 30px;
        }
        .navbar-avatar { 
            font-weight: 900;
            font-size: 40px;
            border-radius: 50%;
            border: 1px solid #002147;
            width: 250px;
            height: 250px;
            padding: 10px;
            color: white !important;
            background: #002147;
            padding-left: 20px;
            padding-right: 20px;
        }
        .name {
            display: block;
            font-weight: 500;
            font-size: initial;
            padding-top: 10px;
            padding-bottom: 25px;
        }
    }
    .nav-item {
        .nav-item-btn {
            padding-right: 60px;
            padding-left: 60px;
        }
        .change-pass {
            padding-right: 25px;
            padding-left: 25px;
        }
    }
  }

  .marquee {
      padding-top: 81px;
      margin-bottom: -6px;
  }