<div class="marquee-container" *ngIf="notices && notices.length > 0">
	<div class="left">
		<span><i class="fa fa-bullhorn"></i></span>
	</div>
	<div class="right">
		<ng-marquee duration="60s">
			<mark *ngFor="let notice of notices">{{notice.desc}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</mark>
		</ng-marquee>
	</div>
</div>