@import '../../styles/variable';

.marquee-container {
    display: flow-root;
    background-color: $theme-primary;
    height: 32px;
    .left {
        float: left;
        text-align: center;
        height: 25.8px;
        width: 70px;
        span {
            font-size: 18px;
            margin-left: 10px;
            margin-right: 10px;
            color: $theme-link-color;
        }
    }
    .right {
        width: calc(100vw-70px);
        background-color: $theme-primary;
        mark {
            font-size: 15.5px;
            background-color: $theme-primary;
            color: white;
            padding: 0;
        }
    }
}