@import '../../../assets//sass/paper-kit/variables';
@import '../../styles/variable';

.section.download {
    padding-bottom: 35px;
    padding-top: 0;
.title {
    font-family: $primary-font-family;
    color: white;
}
.subtitle {
    color: white;
}
.row.header {
    background-color: $theme-primary;
    margin-top: 40px;
    margin-bottom: 45px;
}
.row {
    margin-top: 15px;
    
    .col-md-3 {
        margin-bottom: 10px;
    }
    .info {
        border: 1px solid $theme-primary;
        padding: 15px;
        height: 100%;

        .description {
            h6 {
                font-size: 10px; 
                color: $theme-primary;
            }
        }

        .icon {
            span {
                font-size: 10px;
                font-weight: 800;
                color: white;
                background: #002147;
                padding: 6px;
                margin-left: -3px;
            }
        }

        p {
            height: 85px;
            overflow: auto;
            overflow-x: hidden;
        }
        
    .btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active {
        background-color: #002147 !important;
    }
    }
}

::-webkit-scrollbar {
    width: 1px;
    background: #f1f1f1;
    }
}