<div class="main">
    <!-- <div *ngIf="showSpinner" style="position: absolute;margin: 50%;margin-top: 40%">
        <app-spinner-form [show]="showSpinner" [color]="'red'"></app-spinner-form>
    </div> -->
    <app-loader [show]="showSpinner"></app-loader>

    <div class="section text-center download">
        <div class="container">
            <div class="row header">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Public Disclosure</h2>
                    <h5 class="subtitle">Please use these files for official purpose only. </h5>
                    <br>
                </div>
            </div>

            <div class="row" *ngIf="documentArray && documentArray.length == 0">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-paper"></i>
                            <span>x</span>
                        </div>
                        <div class="description">
                            <h4 class="info-title">No Files</h4>
                            <p class="description">We didn't find any document to download. Please get back soon.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="documentArray && documentArray.length > 0">
                <div class="col-md-3" *ngFor="let document of documentArray; let i=index">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-paper"></i>
                            <span>{{i+1}}</span>
                        </div>
                        <div class="description">
                            <h6>{{document.username}} : <span>{{document.date}}</span></h6>
                            <h4 class="info-title">{{document.name}}</h4>
                            <p class="description">{{document.desc}}</p>
                            <a (click)="openFile(document.id)" class="btn btn-link btn-danger">View Details</a>
                            <a [href]="document.url" class="btn btn-link btn-danger" download>Download</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>