.downloadBtn {
    border-color: darksalmon;
    color: darksalmon;
}
.upload-container {
    .file-upload {
        color: white;
    }
    .file-upload-btn {
        border: 1px solid white !important;
        opacity: 1;
        background-color: #002147;
    }
}
.main {
    background-color: #0b1011;
}