<div class="wrapper">
    <div class="main" id="main">
        <div class="section section-dark section-nucleo-icons" id="upload">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 desc">
                        <h2 class="title">Upload Documents</h2><br />
                        <p class="description">
                            Upload only necessary documents. Make sure you fill all the fields.<br />We have huge
                            collection of documents for you to download. Click on below button to see all the documents.
                        </p><br />
                        <!-- <a [routerLink]="['/nucleoicons']" class="btn btn-danger btn-round">View Documents</a> -->
                        <a href="/download" class="btn btn-outline-danger btn-round downloadBtn">View All Documents</a>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="upload-container">
                            <div>
                                <!-- <div *ngIf="showSpinner" style="position: absolute;
                                margin: 50%;
                                margin-top: 70%;">
                                    <app-spinner-form [show]="showSpinner" [color]="'#002147'"></app-spinner-form>
                                </div> -->
                                <app-loader [show]="showSpinner"></app-loader>
                                <div class="card card-register" style="margin: auto; margin-top: 30px;">

                                    <form class="register-form" [formGroup]="formTemplate"
                                        (submit)="upload(formTemplate.value)">
                                        <div class="not-logged-in" *ngIf="!isLoggedIn && errorMsg"><label><i
                                                    class="fa fa-exclamation-circle"></i>{{errorMsg}}</label></div>
                                        <div class="not-logged-in" *ngIf="isLoggedIn && errorMsg"><label><i
                                                    class="fa fa-exclamation-circle"></i>{{errorMsg}}</label></div>
                                        <label>Document Name</label>
                                        <div class="input-group form-group-no-border"
                                            [ngClass]="{'input-group-focus':focus===true}">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-file"></i>
                                                </span>
                                            </div>

                                            <input type="text" class="form-control" [disabled]="!isLoggedIn"
                                                formControlName="name" placeholder="Name" (focus)="focus=true"
                                                (blur)="focus=false">
                                        </div>
                                        <div class="error-msg" *ngIf="isUploaded && formControls.name.errors?.required">
                                            *Please enter document name</div>

                                        <label>Document ID</label>
                                        <div class="input-group form-group-no-border"
                                            [ngClass]="{'input-group-focus':focus1===true}">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-reddit-alien"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" [disabled]="!isLoggedIn"
                                                formControlName="id" placeholder="Enter unique ID" (focus)="focus1=true"
                                                (blur)="focus1=false">

                                        </div>
                                        <div class="error-msg" *ngIf="isUploaded && formControls.id.errors?.required">
                                            *Please enter unique ID without any space or special characters</div>

                                        <label>Document Description</label>
                                        <div class="input-group form-group-no-border"
                                            [ngClass]="{'input-group-focus':focus1===true}">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-sort-alpha-desc"></i>
                                                </span>
                                            </div>
                                            <textarea type="text" maxlength="100" class="form-control"
                                                [disabled]="!isLoggedIn" formControlName="desc"
                                                placeholder="Enter upto 100 characters" (focus)="focus1=true"
                                                (blur)="focus1=false"></textarea>

                                        </div>
                                        <div class="error-msg" *ngIf="isUploaded && formControls.desc.errors?.required">
                                            *Please enter document description</div>


                                        <div class="input-group form-group-no-border upload-btn"
                                            [ngClass]="{'input-group-focus':focus1===true}">
                                            <div class="input-group-prepend">
                                                <input type="file" formControlName="url" [disabled]="!isLoggedIn"
                                                    name="filename" class="file-upload" (change)="fileChanged($event)" />
                                            </div>
                                        </div>
                                        <div class="error-msg" *ngIf="isUploaded && formControls.url.errors?.required">
                                            *Please select the document to upload</div>
                                        <button type="submit" [disabled]="!isLoggedIn"
                                            class="btn btn-danger btn-block file-upload-btn">Upload</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>