@import '../../styles/variable';
.footer{
    background-color: $theme-primary;
    .credits{
        margin: auto !important;
        span {
            color: $theme-secondary;
            font-family: $primary-font-family;

            a{
                color: $theme-secondary;
                cursor: pointer !important;
                font-family: $primary-font-family;
            }

            i {
                color: $theme-secondary;
            }

            @media screen and (max-width:1024px) {
                font-size: 11px;
            }
        }
    }
}