<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="credits">
                <span class="copyright">
                    © {{year | date: 'yyyy'}}, Designed & Developed by <a href="https://dockdevelopers.com"
                        target="_blank">DockDevelopers</a>
                </span>
            </div>
        </div>
    </div>
</footer>